<script lang="ts">
	// i18n
	import { LL } from '$i18n/i18n-svelte';

	// layout elements
	const logoUrl = new URL('./logo.png', import.meta.url).href;
	import Copyright from '$lib/layout/copyright.svelte';
	import I18nSwitch from '$lib/layout/I18nSwitch.svelte';
</script>

<div class="stars h-screen max-h-screen">
	<a href="/"
		><img
			src={logoUrl}
			alt="Alinex"
			class="fixed top-5 left-5 w-56 lg:w-2/5 lg:top-auto lg:left-auto md:bottom-2 lg:right-5 lg:block"
			title={$LL.layout.logoTitle()}
		/></a
	>

	<div class="fixed right-4 top-4 min-w-[400px] text-right">
		<a href="/vita" class="btn variant-filled mr-2" title={$LL.layout.buttons.vitaTitle()}
			>{$LL.layout.buttons.vita()}</a
		>
		<a
			href="https://alinex.gitlab.io"
			class="btn variant-filled mr-2 hidden sm:inline"
			title={$LL.layout.buttons.worksTitle()}>{$LL.layout.buttons.works()}</a
		>
		<I18nSwitch />
	</div>

	<div
		class="fixed top-20 px-5 h-4/5 w-full min-w-[420px] overflow-auto md:max-w-[760px] lg:top-5 lg:h-11/12"
	>
		<slot />
	</div>

	<div class="fixed bottom-0 py-4 px-5 w-full min-w-[420px] overflow-auto md:w-7/12 text-white">
		<Copyright />
	</div>
</div>
