<script>
	import { LL } from '$i18n/i18n-svelte';
	import '@fontsource-variable/caveat';
	let line0 = '';
	$: setTimeout(() => (line0 = $LL.intro.paragraph[0]()), 1);
</script>

<svelte:head>
	<title>Alinex</title>
	<meta name="description" content={$LL.intro.description()} />
</svelte:head>

<h1 class="h1 text-white">{$LL.intro.title()}</h1>
<p class="text-2xl sm:text-3xl">{@html line0}</p>
<p class="text-2xl sm:text-3xl">{$LL.intro.paragraph[1]()}</p>
<p class="text-2xl sm:text-3xl">{$LL.intro.paragraph[2]()}</p>
<p class="text-2xl sm:text-3xl">{$LL.intro.paragraph[3]()}</p>

<p class="text-2xl sm:text-3xl"><em>Alexander Schilling</em></p>

<style>
	p {
		color: white;
		line-height: 120%;
		margin-top: 20px;
		font-family: 'Caveat Variable', sans-serif;
	}
</style>
