<script lang="ts">
	import {
		AppBar,
		AppRail,
		AppRailAnchor,
		AppShell,
		type PopupSettings
	} from '@skeletonlabs/skeleton';
	import Copyright from '$lib/layout/copyright.svelte';
	import I18nSwitch from '$lib/layout/I18nSwitch.svelte';
	import { page } from '$app/stores';
	import {
		ScrollTextIcon,
		PersonStandingIcon,
		LightbulbIcon,
		PresentationIcon,
		CodeIcon
	} from 'lucide-svelte';
	import { LL } from '$i18n/i18n-svelte';
	// dark mode
	import { LightSwitch, modeCurrent } from '@skeletonlabs/skeleton';
	import logoDark from '$lib/layout/logo-dark.png';
	import logoLight from '$lib/layout/logo-light.png';
</script>

<AppShell
	regionPage="bg-surface-700 p-4"
	slotSidebarLeft="bg-surface-800 p-4"
	slotFooter="bg-surface-900 p-3"
>
	<svelte:fragment slot="header"
		><AppBar>
			<svelte:fragment slot="lead">
				<a href="/"
					>{#if $modeCurrent}
						<img src={logoLight} alt="Alinex" />
					{:else}
						<img src={logoDark} alt="Alinex" />
					{/if}</a
				>
			</svelte:fragment>
			<svelte:fragment slot="trail">
				<!--<LightSwitch />-->
				<I18nSwitch />
			</svelte:fragment>
		</AppBar></svelte:fragment
	>
	<AppRail slot="sidebarLeft">
		<!--
			<AppRailAnchor href="/person/" selected={$page.url.pathname === '/person/'}>
				<svelte:fragment slot="lead"><PersonStandingIcon /></svelte:fragment>
				<span>{$LL.person.menu()}</span>
			</AppRailAnchor>
		-->
		<AppRailAnchor href="/vita/" selected={$page.url.pathname === '/vita/'}>
			<svelte:fragment slot="lead"><ScrollTextIcon /></svelte:fragment>
			<span>{$LL.vita.menu()}</span>
		</AppRailAnchor>
		<AppRailAnchor href="/skills/" selected={$page.url.pathname === '/skills/'}>
			<svelte:fragment slot="lead"><LightbulbIcon /></svelte:fragment>
			<span>{$LL.skills.menu()}</span>
		</AppRailAnchor>
		<AppRailAnchor href="/projects/" selected={$page.url.pathname === '/projects/'}>
			<svelte:fragment slot="lead"><PresentationIcon /></svelte:fragment>
			<span>{$LL.projects.menu()}</span>
		</AppRailAnchor>
		<AppRailAnchor href="/software/" selected={$page.url.pathname === '/software/'}>
			<svelte:fragment slot="lead"><CodeIcon /></svelte:fragment>
			<span>{$LL.software.menu()}</span>
		</AppRailAnchor>
	</AppRail>
	<slot />
	<Copyright slot="footer" />
</AppShell>
