<script>
	export let title = '';
	export let description = '';
</script>

<div class="mt-4 md:grid md:grid-cols-4 lg:grid-cols-6 md:gap-4 md">
	<dt class="font-bold">{title}</dt>
	<dd class="ml-8 md:ml-0 text-gray-300 md:col-span-3 lg:col-span-5">{description}</dd>
</div>
