<script lang="ts">
	import '../app.postcss';

	// floating UI
	import { computePosition, autoUpdate, offset, shift, flip, arrow } from '@floating-ui/dom';
	import { storePopup } from '@skeletonlabs/skeleton';
	storePopup.set({ computePosition, autoUpdate, offset, shift, flip, arrow });

	// init i18n
	import { browser } from '$app/environment';
	import { onDestroy, onMount } from 'svelte';
	import { locale } from '$i18n/i18n-svelte';
	onMount(() => {
		const valueFromSession = sessionStorage.getItem('lang') || 'en';
		sessionStorage.setItem('lang', valueFromSession);
		console.info('onMount: ', $locale);
	});
	onDestroy(() => {
		if (browser) {
			sessionStorage.removeItem('lang');
		}
	});
	// update `lang` attribute
	$: browser && document.querySelector('html')!.setAttribute('lang', $locale);
</script>

<slot />

<style>
	:global(body) {
		background: url('$lib/layout/stars.jpg') no-repeat center left fixed;
		background-size: cover;
	}
</style>
