<script>
	import { LL } from '$i18n/i18n-svelte';
	import {
		Timeline,
		BusinessItem,
		BusinessDetail,
		PrivateDetail,
		EducationItem,
		BirthItem
	} from '$lib/timeline';
	let divibib = '';
	let readers = '';
	$: {
		setTimeout(() => (divibib = $LL.vita.divibib.company()), 1);
		setTimeout(() => (readers = $LL.vita.readers.company()), 1);
	}
</script>

<svelte:head>
	<title>Alinex - {$LL.vita.title()}</title>
	<meta name="description" content={$LL.vita.description()} />
</svelte:head>

<h1 class="h1 pb-8">{$LL.vita.title()}</h1>

<!-- https://github.com/cruip/cruip-tutorials/blob/main/vertical-timelines/index.html -->
<Timeline>
	<BusinessItem
		time={$LL.vita.divibib.time()}
		job={$LL.vita.divibib.job()}
		company={divibib}
		detail={$LL.vita.divibib.description()}
	/>
	<BusinessDetail title="GitLab CI/CD" detail={$LL.vita.divibib.cicd()} />
	<PrivateDetail title="Svelte / SvelteKit" detail={$LL.vita.it.svelte()} />
	<BusinessDetail title="Server Management Tools" detail={$LL.vita.divibib.management()} />
	<BusinessDetail title="Monitoring Prometheus/Grafana" detail={$LL.vita.divibib.grafana()} />
	<PrivateDetail title="FeathersJS" detail={$LL.vita.it.feathers()} />
	<PrivateDetail title="Checkup System" detail={$LL.vita.it.checkup()} />
	<BusinessDetail title="Server Farm Migration" detail={$LL.vita.divibib.provider()} />
	<PrivateDetail title="Rust" detail={$LL.vita.it.rust()} />
	<BusinessDetail title="GitLab + Mattermost" detail={$LL.vita.divibib.gitlab()} />
	<PrivateDetail title="Quasar + Vue JS" detail={$LL.vita.it.quasar()} />
	<BusinessDetail title="Confluence + Jira" detail={$LL.vita.divibib.atlassian()} />
	<BusinessDetail title="Operation Tools" detail={$LL.vita.divibib.nodetools()} />
	<PrivateDetail title="NodeJS, NPM, CoffeeScript" detail={$LL.vita.it.es6()} />
	<BusinessDetail title="PostgreSQL" detail={$LL.vita.divibib.postgres()} />
	<BusinessItem
		time={$LL.vita.readers.time()}
		job={$LL.vita.readers.job()}
		company={readers}
		detail={$LL.vita.readers.description()}
	/>
	<PrivateDetail title="NodeJS" detail={$LL.vita.it.node()} />
	<BusinessDetail title="PHP, ffmpeg..." detail={$LL.vita.readers.media()} />
	<BusinessDetail title="Facebook" detail={$LL.vita.readers.facebook()} />
	<BusinessDetail title="Ruby + Python" detail={$LL.vita.readers.ruby()} />
	<BusinessItem
		time={$LL.vita.inmedea.time()}
		job={$LL.vita.inmedea.job()}
		company="INMEDEA GmbH, Tübingen"
		detail={$LL.vita.inmedea.description()}
	/>
	<PrivateDetail title="JavaScript, CSS" detail={$LL.vita.it.gadgets()} />
	<BusinessItem
		time={$LL.vita.uni.time()}
		job={$LL.vita.uni.job()}
		company="University Hospital, Tübingen"
		detail={$LL.vita.uni.description()}
	/>
	<BusinessDetail title="Java, JSP, Servlets" detail={$LL.vita.uni.java()} />
	<BusinessItem
		time={$LL.vita.webhoch3.time()}
		job={$LL.vita.webhoch3.job()}
		company="webhoch3 GmbH, Stuttgart"
		detail={$LL.vita.webhoch3.description()}
	/>
	<PrivateDetail title="PHP, MySQL" detail={$LL.vita.it.php()} />
	<PrivateDetail title="JavaScript" detail={$LL.vita.it.javascript()} />
	<BusinessItem
		time={$LL.vita.brokat.time()}
		job={$LL.vita.brokat.job()}
		company="Brokat Technologies AG, Stuttgart"
		detail={$LL.vita.brokat.description()}
	/>
	<PrivateDetail title={$LL.vita.it.accessTitle()} detail={$LL.vita.it.access()} />
	<BusinessDetail title="CMS" detail={$LL.vita.brokat.cms()} />
	<PrivateDetail title="Crossbrowser JavaScript" detail={$LL.vita.it.crossbrowser()} />
</Timeline>

<h1 class="h1 pb-8">{$LL.vita.schoolTitle()}</h1>

<Timeline>
	<EducationItem
		time={$LL.vita.fh.time()}
		school={$LL.vita.fh.title()}
		company={$LL.vita.fh.company()}
		detail={$LL.vita.fh.description()}
	/>
	<BusinessDetail title="SAP" detail={$LL.vita.fh.sap()} />
	<PrivateDetail title="Delphi" detail={$LL.vita.it.delphi()} />
	<BusinessDetail title="SAP/R2" detail={$LL.vita.fh.sapr2()} />
	<BusinessDetail title="Wandel & Goltermann" detail={$LL.vita.fh.wago()} />
	<PrivateDetail title="Web Technologie" detail={$LL.vita.it.web()} />
	<PrivateDetail title="Linux" detail={$LL.vita.it.linux()} />
	<EducationItem
		time={$LL.vita.kolleg.time()}
		school={$LL.vita.kolleg.title()}
		company="Ferdinand-von-Steinbeis-Schule, Reutlingen"
	/>
	<EducationItem
		time={$LL.vita.wago.time()}
		school={$LL.vita.wago.title()}
		company="Wandel & Goltermann, Eningen u.A."
		detail={$LL.vita.wago.description()}
	/>
	<PrivateDetail title="Windows" detail={$LL.vita.it.windows()} />
	<EducationItem
		time={$LL.vita.berufsschule.time()}
		school={$LL.vita.berufsschule.title()}
		company="Ferdinand-von-Steinbeis-Schule, Reutlingen"
		detail={$LL.vita.berufsschule.description()}
	/>
	<PrivateDetail title="Personal Computer" detail={$LL.vita.it.pc()} />
	<PrivateDetail title="Amiga" detail={$LL.vita.it.amiga()} />
	<EducationItem
		time={$LL.vita.schule.time()}
		school={$LL.vita.schule.title()}
		company="Uhland-Schule, Lichtenstein"
		detail={$LL.vita.schule.description()}
	/>
	<PrivateDetail title="Computer" detail={$LL.vita.it.computer()} />
	<BirthItem
		time={$LL.vita.birth.time()}
		school={$LL.vita.birth.title()}
		detail={$LL.vita.birth.description()}
	/>
</Timeline>
