<script>
	import { LL } from '$i18n/i18n-svelte';
</script>

<svelte:head>
	<title>Alinex - {$LL.person.title()}</title>
	<meta name="description" content={$LL.person.description()} />
</svelte:head>

<h1 class="h1">{$LL.person.title()}</h1>

<!-- image -->
<!-- Hobbies: radfahren, wandern -->
<!--  -->
