<script>
	import { LL } from '$i18n/i18n-svelte';
	import Skill from '$lib/Skill.svelte';
	import { Accordion, AccordionItem } from '@skeletonlabs/skeleton';
	import { BlocksIcon, Code2Icon, CpuIcon, GlobeIcon, User2Icon, WrenchIcon } from 'lucide-svelte';
</script>

<svelte:head>
	<title>Alinex - {$LL.skills.title()}</title>
	<meta name="description" content={$LL.skills.description()} />
</svelte:head>

<h1 class="h1">{$LL.skills.title()}</h1>

<Accordion class="mt-8">
	<AccordionItem regionControl="text-2xl font-bold" hover="bg-surface-800 hover:bg-primary-500">
		<svelte:fragment slot="lead"><Code2Icon size="30" /></svelte:fragment>
		<svelte:fragment slot="summary">{$LL.skills.code.title()}</svelte:fragment>
		<svelte:fragment slot="content">
			<dl>
				<Skill title="Type Script" description={$LL.skills.code.TypeScript()} />
				<Skill title="Java Script" description={$LL.skills.code.JavaScript()} />
				<Skill title="Coffee Script" description={$LL.skills.code.CoffeeScript()} />
				<Skill title="Bash" description={$LL.skills.code.Bash()} />
				<Skill title="SQL" description={$LL.skills.code.SQL()} />
				<Skill title="Rust" description={$LL.skills.code.Rust()} />
				<Skill title="Java" description={$LL.skills.code.Java()} />
				<Skill title="PHP" description={$LL.skills.code.PHP()} />
				<Skill title="Python" description={$LL.skills.code.Python()} />
				<Skill title="Perl" description={$LL.skills.code.Perl()} />
				<Skill title="Go" description={$LL.skills.code.Go()} />
			</dl>
		</svelte:fragment>
	</AccordionItem>
	<AccordionItem regionControl="text-2xl font-bold" hover="bg-surface-800 hover:bg-primary-500">
		<svelte:fragment slot="lead"><CpuIcon size="30" /></svelte:fragment>
		<svelte:fragment slot="summary">{$LL.skills.technology.title()}</svelte:fragment>
		<svelte:fragment slot="content">
			<dl>
				<Skill title="Web" description={$LL.skills.technology.Web()} />
				<Skill title="Linux" description={$LL.skills.technology.Linux()} />
				<Skill title="VMWare" description={$LL.skills.technology.VMWare()} />
				<Skill title="Docker" description={$LL.skills.technology.Docker()} />
				<Skill title="IaaS" description={$LL.skills.technology.IaaS()} />
			</dl>
		</svelte:fragment>
	</AccordionItem>
	<AccordionItem regionControl="text-2xl font-bold" hover="bg-surface-800 hover:bg-primary-500">
		<svelte:fragment slot="lead"><BlocksIcon size="30" /></svelte:fragment>
		<svelte:fragment slot="summary">{$LL.skills.middleware.title()}</svelte:fragment>
		<svelte:fragment slot="content">
			<dl>
				<Skill title="NginX" description={$LL.skills.middleware.NginX()} />
				<Skill title="Apache" description={$LL.skills.middleware.Apache()} />
				<Skill title="Tomcat" description={$LL.skills.middleware.Tomcat()} />
				<Skill title="PostgreSQL" description={$LL.skills.middleware.PostgreSQL()} />
				<Skill title="MySQL" description={$LL.skills.middleware.MySQL()} />
				<Skill title="MongoDB" description={$LL.skills.middleware.MongoDB()} />
				<Skill title="Joomla" description={$LL.skills.middleware.Joomla()} />
			</dl>
		</svelte:fragment>
	</AccordionItem>
	<AccordionItem regionControl="text-2xl font-bold" hover="bg-surface-800 hover:bg-primary-500">
		<svelte:fragment slot="lead"><GlobeIcon size="30" /></svelte:fragment>
		<svelte:fragment slot="summary">{$LL.skills.web.title()}</svelte:fragment>
		<svelte:fragment slot="content">
			<dl>
				<Skill title="Svelte" description={$LL.skills.web.Svelte()} />
				<Skill title="Express" description={$LL.skills.web.Express()} />
				<Skill title="Feathers" description={$LL.skills.web.Feathers()} />
				<Skill title="Vue" description={$LL.skills.web.Vue()} />
				<Skill title="Quasar" description={$LL.skills.web.Quasar()} />
				<Skill title="Bootstrap" description={$LL.skills.web.Bootstrap()} />
				<Skill title="JQuery" description={$LL.skills.web.JQuery()} />
			</dl>
		</svelte:fragment>
	</AccordionItem>
	<AccordionItem regionControl="text-2xl font-bold" hover="bg-surface-800 hover:bg-primary-500">
		<svelte:fragment slot="lead"><WrenchIcon size="30" /></svelte:fragment>
		<svelte:fragment slot="summary">{$LL.skills.tools.title()}</svelte:fragment>
		<svelte:fragment slot="content">
			<dl>
				<Skill title="VSCode" description={$LL.skills.tools.VSCode()} />
				<Skill title="GitLab" description={$LL.skills.tools.GitLab()} />
				<Skill title="Jira" description={$LL.skills.tools.Jira()} />
				<Skill title="Confluence" description={$LL.skills.tools.Confluence()} />
				<Skill title="Mattermost" description={$LL.skills.tools.Mattermost()} />
				<Skill title="Jenkins" description={$LL.skills.tools.Jenkins()} />
				<Skill title="Prometheus" description={$LL.skills.tools.Prometheus()} />
				<Skill title="Grafana" description={$LL.skills.tools.Grafana()} />
				<Skill title="PRTG" description={$LL.skills.tools.PRTG()} />
				<Skill title="Zabbix" description={$LL.skills.tools.Zabbix()} />
				<Skill title="Nagios" description={$LL.skills.tools.Nagios()} />
			</dl>
		</svelte:fragment>
	</AccordionItem>
	<AccordionItem regionControl="text-2xl font-bold" hover="bg-surface-800 hover:bg-primary-500">
		<svelte:fragment slot="lead"><User2Icon size="30" /></svelte:fragment>
		<svelte:fragment slot="summary">{$LL.skills.other.title()}</svelte:fragment>
		<svelte:fragment slot="content">
			<dl>
				<Skill title={$LL.skills.other.learnTitle()} description={$LL.skills.other.learn()} />
				<Skill title={$LL.skills.other.archTitle()} description={$LL.skills.other.arch()} />
				<Skill title={$LL.skills.other.codeTitle()} description={$LL.skills.other.code()} />
				<Skill title={$LL.skills.other.solveTitle()} description={$LL.skills.other.solve()} />
				<Skill title={$LL.skills.other.teamTitle()} description={$LL.skills.other.team()} />
				<Skill
					title={$LL.skills.other.communicationTitle()}
					description={$LL.skills.other.communication()}
				/>
				<Skill
					title={$LL.skills.other.coordinationTitle()}
					description={$LL.skills.other.coordination()}
				/>
				<Skill title={$LL.skills.other.selfTitle()} description={$LL.skills.other.self()} />
				<Skill title={$LL.skills.other.langTitle()} description={$LL.skills.other.lang()} />
			</dl>
		</svelte:fragment>
	</AccordionItem>
</Accordion>

<p class="mt-12">{$LL.skills.more()}</p>
