<script lang="ts">
	// i18n
	import { LL, setLocale, locale } from '$i18n/i18n-svelte';
	import { loadLocaleAsync } from '$i18n/i18n-util.async';
	import { locales } from '$i18n/i18n-util';
	import type { Locales } from '$i18n/i18n-types';
	import FlagDE from '$lib/layout/IconDE.svelte';
	import FlagEN from '$lib/layout/IconEN.svelte';

	// swittch
	import { LanguagesIcon } from 'lucide-svelte';
	import { popup, type PopupSettings } from '@skeletonlabs/skeleton';
	//setModeCurrent(false); // always use dark mode here
	const popupFeatured: PopupSettings = {
		// Represents the type of event that opens/closed the popup
		event: 'click',
		// Matches the data-popup value on your popup element
		target: 'popupFeatured',
		// Defines which side of your trigger the popup will appear
		placement: 'bottom'
	};
	const localeInfo = {
		en: { name: 'English', flag: FlagEN },
		de: { name: 'Deutsch', flag: FlagDE }
	};
	// action
	async function changeLocale(value: Locales) {
		if (!value || $locale === value) return; // already set
		// load new dictionary from server
		await loadLocaleAsync(value);
		setLocale(value);
		// store in session
		sessionStorage.setItem('lang', value);
	}
	$: classesActive = (lang: string) => (lang === $locale ? '!bg-primary-500 !cursor-default' : '');
</script>

<button
	type="button"
	class="btn variant-filled align-bottom"
	use:popup={popupFeatured}
	title={$LL.layout.buttons.localeTitle()}><LanguagesIcon /></button
>
<div class="card shadow-xl rounde" data-popup="popupFeatured">
	<div class="btn-group-vertical variant-filled dark:bg-slate-800 dark:text-white">
		{#each locales as l}
			<button on:click={() => changeLocale(l)} class={classesActive(l)}>
				<svelte:component this={localeInfo[l].flag} />
				<span class="flex-auto border-t-0">{localeInfo[l].name}</span>
			</button>
		{/each}
	</div>
</div>
