<script>
	// SVG source from node-modules/flag-icons/flags/4x3
	// extended to make size customizable
	export let size = 15;
</script>

<svg
	width={Math.round((size / 3) * 4)}
	height={size}
	xmlns="http://www.w3.org/2000/svg"
	id="flag-icons-de"
	viewBox="0 0 640 480"
	{...$$restProps}
>
	<path fill="#ffce00" d="M0 320h640v160H0z" />
	<path d="M0 0h640v160H0z" />
	<path fill="#d00" d="M0 160h640v160H0z" />
</svg>
