<script>
	import { LL } from '$i18n/i18n-svelte';
</script>

<svelte:head>
	<title>Alinex - {$LL.projects.title()}</title>
	<meta name="description" content={$LL.projects.description()} />
</svelte:head>

<h1 class="h1">{$LL.projects.title()}</h1>
