<script>
	import { LL } from '$i18n/i18n-svelte';
	import style from './style';

	export let title = '';
	export let detail = '';
</script>

<span class="relative">
	<div class={style.sub} title={$LL.vita.timelineBusinessDetail()}>
		<div class={style.left}>
			<div class={style.primaryXS}></div>
			<div class={style.date}></div>
		</div>
		<div class={style.headingDetail}>
			<div class={style.title}>{title}</div>
		</div>
	</div>
	<div class={style.detail}>{detail}</div>
</span>
