<script>
	import { Building2Icon } from 'lucide-svelte';
	import style from './style';

	export let time = '';
	export let job = '';
	export let company = '';
	export let detail = '';
</script>

<div class="relative">
	<div class={style.entry}>
		<div class={style.left}>
			<div class={style.primary}><Building2Icon /></div>
			<!--			<time class={style.date}>{@html time.replace(' - ', ' -<br />')}</time>-->
			<time class={style.date}>{time}</time>
		</div>
		<div class={style.heading}>
			<div class={style.title}>{job}</div>
			<div>{@html company}</div>
		</div>
	</div>
	<div class={style.detail}>{detail}</div>
</div>
