<script>
	import { GraduationCapIcon } from 'lucide-svelte';
	import style from './style';

	export let time = '';
	export let school = '';
	export let company = '';
	export let detail = '';
</script>

<div class="relative">
	<div class={style.entry}>
		<div class={style.left}>
			<div class={style.primary}><GraduationCapIcon /></div>
			<time class={style.date}>{time}</time>
		</div>
		<div class={style.heading}>
			<div class={style.title}>{school}</div>
			<div>{@html company}</div>
		</div>
	</div>
	<div class={style.detail}>{detail}</div>
</div>
