<script>
	import { LL } from '$i18n/i18n-svelte';
	import '@fontsource-variable/caveat';
</script>

<svelte:head>
	<title>Alinex - {$LL.policy.title()}</title>
	<meta name="description" content={$LL.policy.description()} />
</svelte:head>

<h1 class="h1 mb-5">{$LL.policy.title()}</h1>

<h2 class="h2 mt-8 mb-2">{$LL.policy.privacy.title()}</h2>
<p>{$LL.policy.privacy.intro()}</p>

<h2 class="h2 mt-8 mb-2">{$LL.policy.responsible()}</h2>
<blockquote class="ml-16">
	Alexander Schilling<br />
	Hölderlinstr. 25<br />
	72805 Lichtenstein<br />
	Germany
</blockquote>

<blockquote class="ml-16 mt-2">
	<a href="mailto:info@alinex.de">info@alinex.de</a>
</blockquote>

<h2 class="h2 mt-8 mb-2">{$LL.policy.data.title()}</h2>
<p>{$LL.policy.data.intro()}</p>
<ul class="list-disc ml-8">
	<li>{$LL.policy.data.list[0]()}</li>
	<li>{$LL.policy.data.list[1]()}</li>
</ul>

<h2 class="h2 mt-8 mb-2">{$LL.policy.purpose.title()}</h2>
<ul class="list-disc ml-8">
	<li>{$LL.policy.purpose.list[0]()}</li>
	<li>{$LL.policy.purpose.list[1]()}</li>
	<li>{$LL.policy.purpose.list[2]()}</li>
	<li>{$LL.policy.purpose.list[3]()}</li>
</ul>

<h2 class="h2 mt-8 mb-2">{$LL.policy.persons.title()}</h2>
<ul class="list-disc ml-8">
	<li>{$LL.policy.persons.list[0]()}</li>
	<li>{$LL.policy.persons.list[1]()}</li>
</ul>

<h2 class="h2 mt-8 mb-2">{$LL.policy.terms.title()}</h2>
<ul class="list-disc ml-8">
	<li>{$LL.policy.terms.list[0]()}</li>
	<li>{$LL.policy.terms.list[1]()}</li>
	<li>{$LL.policy.terms.list[2]()}</li>
	<li>{$LL.policy.terms.list[3]()}</li>
</ul>

<h2 class="h2 mt-8 mb-2">{$LL.policy.legal.title()}</h2>
<p>{$LL.policy.legal.text()}</p>

<h2 class="h2 mt-8 mb-2">{$LL.policy.update.title()}</h2>
<p>{$LL.policy.update.text()}</p>

<h2 class="h2 mt-8 mb-2">{$LL.policy.thirdparty.title()}</h2>
<ul class="list-disc ml-8">
	<li>{$LL.policy.thirdparty.list[0]()}</li>
	<li>{$LL.policy.thirdparty.list[1]()}</li>
</ul>

<h2 class="h2 mt-8 mb-2">{$LL.policy.rights.title()}</h2>
<ul class="list-disc ml-8">
	<li>{$LL.policy.rights.list[0]()}</li>
	<li>{$LL.policy.rights.list[1]()}</li>
	<li>{$LL.policy.rights.list[2]()}</li>
	<li>{$LL.policy.rights.list[3]()}</li>
	<li>{$LL.policy.rights.list[4]()}</li>
</ul>

<h2 class="h2 mt-8 mb-2">{$LL.policy.cookies.title()}</h2>
<ul class="list-disc ml-8">
	<li>{$LL.policy.cookies.list[0]()}</li>
	<li>{$LL.policy.cookies.list[1]()}</li>
</ul>

<h2 class="h2 mt-8 mb-2">{$LL.policy.hosting.title()}</h2>
<ul class="list-disc ml-8">
	<li>{$LL.policy.hosting.list[0]()}</li>
	<li>{$LL.policy.hosting.list[1]()}</li>
	<li>{$LL.policy.hosting.list[2]()}</li>
</ul>

<h2 class="h2 mt-8 mb-2">{$LL.policy.contact.title()}</h2>
<p>{$LL.policy.contact.text()}</p>

<h2 class="h2 mt-8 mb-2">{$LL.policy.gravatar.title()}</h2>
<ul class="list-disc ml-8">
	<li>{$LL.policy.gravatar.list[0]()}</li>
	<li>{$LL.policy.gravatar.list[1]()}</li>
	<li>{$LL.policy.gravatar.list[2]()}</li>
	<li>{$LL.policy.gravatar.list[3]()}</li>
	<li>{$LL.policy.gravatar.list[4]()}</li>
	<li>{$LL.policy.gravatar.list[5]()}</li>
</ul>

<h2 class="h2 mt-8 mb-2">{$LL.policy.delete.title()}</h2>
<p>{$LL.policy.delete.text()}</p>

<h2 class="h2 mt-8 mb-2">{$LL.policy.logs.title()}</h2>
<ul class="list-disc ml-8">
	<li>{$LL.policy.logs.list[0]()}</li>
	<li>{$LL.policy.logs.list[1]()}</li>
	<li>{$LL.policy.logs.list[2]()}</li>
</ul>

<style>
	h1,
	h2,
	p,
	ul {
		color: white;
	}
	blockquote {
		color: white;
		border-left: 3px solid rgb(var(--color-primary-500));
		padding-left: 12px;
		margin-top: 0;
		padding-top: 8px;
	}
</style>
