@font-face {
	font-family: 'Oswald';
	src: url('/fonts/Oswald-VariableFont_wght.woff');
}
@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/OpenSans-VariableFont_wdth,wght.woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body { @apply h-full overflow-hidden; }
